<!DOCTYPE html>
<html>

<head>
    <title>Chat Room Login</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/crypto-js.min.js"></script>
    <script src="/static/login.js" defer></script>
</head>

<body>
    <div id="auth">
        <h1>WebSocket Chat Room Login</h1>
        <input type="text" id="username" placeholder="Enter your username" autocomplete="off" />
        <input type="password" id="password" placeholder="Enter your password" autocomplete="off" />
        <div id="button-container">
            <button onclick="register()">Register</button>
            <button onclick="login()">Login</button>
        </div>
    </div>
</body>

</html>
